.vscode/*
.directory
include_guard/*
*.o
*.exe
*.out
*.zip
*.txt
*.todo
*.plt
*.bash
*.py
*debug
!/help.txt
!/config.txt
/data/*
!/data/templates/
/logs/*
!/logs/changelog.md
/screenshots/*
!/command_files/*
# !/data/templates
# !/data/em/.keepdir
# !/data/forel/.keepdir
# !/data/hierarch/.keepdir
# !/data/ker/.keepdir
!/**/.keepdir
/tests/**/*.gif
/tests/**/*.png
!/tests/**/*.txt
!/tests/**/gnu_*.plt

/**/beamer/*
/tests/**/*.pdf